PORT=5000
MONGO_URI=your_mongodb_connection_string
CLIENT_URLS=http://localhost:5173,http://localhost:3000


JWT_SECRET=your_jwt_secret
ADMIN_EMAIL=your_admin_email@example.com
ADMIN_PASSWORD=your_admin_password

# Optional: For real email sending via Gmail
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=your@gmail.com
# MAIL_FROM=MehSang Studio <your@gmail.com>
# SMTP_PASS=your_app_password

# Optional: Twilio WhatsApp Notifications
# TWILIO_ACCOUNT_SID=GXR3PVqDqTphWLp9YU4sLYChKiSKjog4Mv
# TWILIO_AUTH_TOKEN=633ce945ccdee01501eae9095cd4e6cd
# TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
# ADMIN_WHATSAPP_NUMBER=whatsapp:+916395670421

